<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPU Runner</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

<v-app id="app">
  <v-toolbar color="primary">
    <v-toolbar-title>GPU Runner</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn flat href="/add_machine">Add Machine</v-btn>
      <v-btn flat href="/logout">Logout</v-btn>
    </v-toolbar-items>
  </v-toolbar>

  <main>
    <v-container fluid>
      <v-expansion-panel expand>
        <v-expansion-panel-content v-for="(gpuUsage, machine) in gpuUsageByMachine" :key="machine">
          <div slot="header">
            [[ machine ]]
            <column-chart :data="chartData[machine]" ytitle="% Used" max="100" height="150px" legend="false"></column-chart>
          </div>
          <v-card>
            <v-card-text>
                <ul v-for="gpu in gpuUsage">
                  <li>GPU [[ gpu.idx ]]: [[ gpu.mem_used ]] / [[ gpu.mem_total ]] MiB [[ gpu.util_used ]]%</li>
                </ul>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-card>
        <v-card-title class="mt-3 title">
          New Jobs
          <v-spacer></v-spacer>
          <v-switch :label="`GPU Runner ${gpuRunnerStatus}`" v-model="gpuRunnerOn" @change="toggleGPURunner()"></v-switch>
          <v-spacer></v-spacer>
          <v-select :items="machines.map(machine => machine._id)" v-model="selectedMachine" @input="switchedMachine()"></v-select>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-layout row>
              <v-btn icon @click="removeVar"><v-icon>remove</v-icon></v-btn>
              <v-btn icon @click="addVar"><v-icon>add</v-icon></v-btn>
            </v-layout>
            <v-layout row v-for="(job, idx) in job_vars" :key="idx">
              <v-flex xs1>
                <v-subheader>For</v-subheader>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="name" v-model="job.name"></v-text-field>
              </v-flex>
              <v-flex xs1>
                <v-subheader>in</v-subheader>
              </v-flex>
              <v-flex xs4>
                <v-text-field label="values" v-model="job.values"></v-text-field>
              </v-flex>
            </v-layout>

            <v-text-field label="command" v-model="command"></v-text-field>

            <v-layout row>
              <v-flex xs3 class="mr-3">
                <v-text-field label="Memory Needed" suffix="MiB" v-model.number="mem_needed"></v-text-field>
              </v-flex>
              <v-flex xs3>
                <v-text-field label="Utilization Needed" suffix="%" v-model.number="util_needed"></v-text-field>
              </v-flex>
            </v-layout>

            <v-btn @click="generateCommands()">Generate</v-btn>
            <v-text-field full-width multi-line v-model="generatedCommands"></v-text-field>
            <v-btn @click="submitCommands()">Submit</v-btn>
          </v-container>
        </v-card-text>
      </v-card>

      <v-card>
        <v-card-title class="mt-3 title">
          Jobs Queued
          <v-spacer></v-spacer>
          <v-btn icon @click="deleteJobs()"><v-icon>delete</v-icon></v-btn>
          <v-spacer></v-spacer>
          <v-text-field append-icon="search" label="Search" single-line v-model="search"></v-text-field>
        </v-card-title>
        <v-card-text>
          <v-data-table :headers="headers" :items="jobs" :search="search" select-all v-model="selectedJobs" item-key="_id">
            <template slot="items" slot-scope="props">
              <td><v-checkbox v-model="props.selected"></v-checkbox></td>
              <td>[[ props.item.mem ]]</td>
              <td>[[ props.item.util ]]</td>
              <td>[[ props.item.cmd ]]</td>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-container>
  </main>

  <v-snackbar v-model="showFormattingIssueSnackbar" :color="'error'" :timeout="5000">
    Command formatting issue! Ensure you use the format mem|util|command.
  </v-snackbar>

  <v-footer color="primary"></v-footer>
</v-app>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/chart.js@2.7.1/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/chartkick@2.2.4"></script>
<script src="https://unpkg.com/vue-chartkick@0.2.0/dist/vue-chartkick.js"></script>

<script>
    let refreshDelay = 30000

    const vue = new Vue({
        el: '#app',
        data: {
            gpuRunnerStatus: 'OFF',
            gpuRunnerOn: false,
            machines: [],
            selectedMachine: '',
            job_vars: [
                {
                    name: '',
                    values: ''
                }
            ],
            command: '',
            mem_needed: 0,
            util_needed: 0,
            generatedCommands: '',
            gpuUsageByMachine: '',
            jobs: [],
            selectedJobs: [],
            headers: [
                {text: 'Memory', value: 'mem'},
                {text: 'Utilization', value: 'util'},
                {text: 'Command', value: 'cmd'}
            ],
            search: '',
            showFormattingIssueSnackbar: false,
            chartData: {}
        },
        methods: {
            updateChartData: function(gpuUsage) {
                let chartData = {}
                for (let machine in this.gpuUsageByMachine) {
                    let gpuUsage = this.gpuUsageByMachine[machine]
                    let memData = []
                    let utilData = []
                    for (let idx in gpuUsage) {
                        let gpu = gpuUsage[idx]
                        memData.push([gpu.idx, Math.round(100 * gpu.mem_used / (gpu.mem_total))])
                        utilData.push([gpu.idx, gpu.util_used])
                    }
                    chartData[machine] = [{name: 'Util', data: utilData}, {name: 'Memory', data: memData}]
                }
                this.chartData = chartData
            },
            toggleGPURunner: function() {
                this.gpuRunnerStatus = this.gpuRunnerOn ? 'ON' : 'OFF'
                this.machines.filter(machine => machine._id === this.selectedMachine)[0].gpu_runner_on = this.gpuRunnerOn
                axios.post('/toggle_gpu_runner', {machine: this.selectedMachine, gpu_runner_on: this.gpuRunnerOn})
            },
            switchedMachine: function() {
                this.getJobs()
                this.gpuRunnerOn = this.machines.filter(machine => machine._id === this.selectedMachine)[0].gpu_runner_on
                this.gpuRunnerStatus = this.gpuRunnerOn ? 'ON' : 'OFF'
            },
            removeVar: function() {
                this.job_vars.pop()
            },
            addVar: function() {
                this.job_vars.push({
                    name: '',
                    values: ''
                })
            },
            generateCommands: function() {
                // make one command with each combination of the values of the different variables

                let n_commands = this.job_vars.map((job_var) => {
                    let values = job_var.values
                    if (values.includes('range')) {
                        return parseInt(values.match(/\d+/)[0])
                    } else {
                        return values.split(', ').length
                    }
                }).reduce((product, length) => product * length, 1)

                let commands = Array(n_commands).fill([this.mem_needed, this.util_needed, this.command].join('|'))

                let switch_value_every = 1

                for (let job_var of this.job_vars) {
                    let name = job_var['name']
                    let values = job_var['values']
                    if (values.includes('range')) {
                        values = [...Array(parseInt(values.match(/\d+/)[0])).keys()]
                    } else {
                        values = values.split(', ')
                    }

                    let value_idx = 0
                    let last_switched = 0

                    commands.forEach((command, idx) => {
                        commands[idx] = command.replace(`{${name}}`, values[value_idx])
                        last_switched += 1
                        if (last_switched === switch_value_every) {
                            last_switched = 0
                            value_idx = (value_idx + 1) % values.length
                        }
                    })
                    switch_value_every *= values.length
                }
                this.generatedCommands = commands.join('\n')
            },
            submitCommands: function() {
                let validFormatting = true
                let commands = this.generatedCommands.trim().split('\n').map(command => {
                    let splits = command.split('|')
                    let ret = {machine: this.selectedMachine, mem: parseInt(splits[0]), util: parseInt(splits[1]), cmd: splits[2]}
                    if (typeof ret.mem !== 'number' || typeof ret.util !== 'number' || typeof ret.cmd !== 'string') {
                        validFormatting = false
                    }
                    return ret
                })

                if (validFormatting) {
                    axios.post('/dashboard', {action: 'add', commands: commands})
                    this.generatedCommands = ''
                } else {
                    this.showFormattingIssueSnackbar = true
                }
            },
            deleteJobs: function() {
                let deletedIds = this.selectedJobs.map(job => job._id)
                axios.post('/dashboard', {action: 'delete', _ids: deletedIds})
                // remove jobs from current list so that it looks like we update right away after clicking delete
                // hopefully by the next data refresh, but backend will have finished the deletion and won't show
                // the deleted jobs again
                this.jobs = this.jobs.filter(job => !deletedIds.includes(job._id))
            },
            getMachines: function() {
                axios.get('/data/machines').then((response) => {
                    this.machines = response.data
                    this.selectedMachine = this.machines[0]._id
                    this.gpuRunnerOn = this.machines.filter(machine => machine._id === this.selectedMachine)[0].gpu_runner_on
                    this.gpuRunnerStatus = this.gpuRunnerOn ? 'ON' : 'OFF'
                })
            },
            getJobs: function() {
                if (this.selectedMachine) {
                    axios.post('/data/jobs', {machine: this.machines.filter(machine => machine._id === this.selectedMachine)[0]})
                      .then((response) => {
                          this.jobs = response.data
                      })
                }
            },
            getGPUUsage: function() {
                axios.get('/data/gpus').then((response) => {
                    this.gpuUsageByMachine = response.data
                    this.updateChartData()
                })
            },
            updateData: function() {
                this.getGPUUsage()
                this.getJobs()
            }
        },
        mounted: function() {
            this.getMachines()
            // wait to update data so that the machines will be loaded and you can get the jobs right away
            setTimeout(this.updateData, 1000)

            setInterval(() => {
                this.updateData()
            }, refreshDelay)
        },
        delimiters: ["[[", "]]"]
    })
</script>
</body>
</html>
